@import 'px2rem.scss';
@import 'style.scss';

.user-info{
    height: px2rem(80);
    padding: 0 px2rem(20);
    font-size: px2rem(30);
    color: $colordarkBlock;
    position: relative;
    .logo{
        position: absolute;
        left: 0;
        width: px2rem(120);
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .login-flag{
        position: absolute;
        right: px2rem(20);
        top: 50%;
        cursor: pointer;
        transform: translateY(-50%);
    }
    span{
        margin: 0 px2rem(20)
    }
}

.product-list {
    padding: px2rem(28) px2rem(20);
    padding-right: px2rem(0);
    li{
        float: left;
        width: px2rem(240);
        margin-right: px2rem(10);
        padding: px2rem(22) px2rem(24) px2rem(16);
        border: px2rem(1) solid  #fff;
        cursor: pointer;
        img{
            width: px2rem(240);
            height: px2rem(240)
        }
        h3{
            color: $colorLintGray;
            text-align: center;
            font-size: px2rem(18);
            margin-top: px2rem(10);
            height: px2rem(25);
            line-height: px2rem(25);
            overflow: hidden;
        }
        h4{
            color: $colorLintBlock;
            text-align: center;
            font-size: px2rem(28);
            margin-top: px2rem(4);
            height: px2rem(44);
            line-height: px2rem(44);
            overflow: hidden;
        }
    }
    li:hover{
         border: px2rem(1) solid  #d4965b
    }
}
