@import 'style.scss';
.grid {
  @include grid();
  img{ width: px2rem(100); height: px2rem(100); margin-right: px2rem(20)}
  .u-w100{
    flex: 0 0 px2rem(100);
    .item-cart{background: url(../img/images.png) no-repeat px2rem(-740) px2rem(-245);background-size: px2rem(778) px2rem(683); width: px2rem(35); height: px2rem(35); margin: px2rem(10) 0 0 px2rem(20)}
  };
  .selects{
    @include selects();
    width: px2rem(150);
    height: px2rem(48);
  };
  .title { height: px2rem(60); font-size: px2rem(22); line-height: px2rem(30)};
  .price{ height: px2rem(60); font-size: px2rem(30); color: #cd0c0c;};
 }
.btn-red {
  @include btn(180,66,#cd0c0c,#ffffff,24,6)
}
.btn-orange {
  @include btn(180,66,#e4b17f,#ffffff,24,6)
}
.operation-grid { height: px2rem(100)}

.height-90 { height: px2rem(90)}
.height-85 { height: px2rem(85)}
.height-150 { height: px2rem(150)}


