@import 'style.scss';
.new-arrivals-top{
  position: fixed;
  z-index: 9999;
  width:px2rem(640);
}
.new-goods-list {
  padding: px2rem(384) 0 px2rem(20); 
  height: px2rem(800);
  overflow: scroll;
  ul{
    a{ text-decoration: none};
    li{
      margin-top: px2rem(20);
      .div-img{
        img{
            width: px2rem(640); 
            height: px2rem(535);
            background-image: url(../img/no_goods.png);
            background-repeat: no-repeat;
            background-position: 50%;
            }
      };
      .div-info{
        background-color: #000000;
        height: px2rem(72);
        line-height: px2rem(72);
        color: #f4f4f4;
        text-align: center;
        font-size: px2rem(28);
        p{
          span{ margin-right: px2rem(20)}
        }
      }
    }
  }
}
