@import 'px2rem.scss';
@import 'reset.scss';
$designWidth: 640;
body {
  position: relative;
  width: px2rem(640);
  margin: 0 auto;
  background-color: #fff;
  background-size: cover;
}
.container {
  width: 100%;
  position: relative;
}
.swiper {
  width: 100%;
  height: px2rem(320);
  img {
    width: 100%;
    height: 100%;
  }
  .mint-swipe-indicator {
    width: px2rem(14);
    height: px2rem(14);
    cursor: pointer;
  }
  .mint-swipe-indicators {
    .is-active {
      background-color: red;
    }
  }
}
.index-nav5 {
  .nav-list {width: 20%!important;}
}
.index-nav {
  width: 100%;
  padding: px2rem(14) 0;
  height: px2rem(64);
  background-color: #000;
  color: #fff;
  a{ color: #fff;};
  .nav-list {
    float: left;
    width: 25%;
    text-align: center;
    font-size: px2rem(20);
    cursor: pointer;
    .icon {
      display: inline-block;
      margin-bottom: px2rem(2);
      width: px2rem(30);
      height: px2rem(32);
      background: url(../img/new_nav_sprite.png) no-repeat;
      background-size: px2rem(240) px2rem(146)
    }
    .icon1 {
      background-position: 0 0;
    }
    .icon2 {
      background-position: px2rem(-49) 0;
    }
    .icon3 {
      background-position: px2rem(-107) 0;
    }
    .icon4 {
      background-position: px2rem(-161) 0;
    }
    .icon0 {
      background-position: px2rem(-205) 0;
    }
  }
  .router-link-active{
    color: $colorBolder;
    .icon1 {
      background-position: 0 px2rem(-114);
    }
    .icon2 {
      background-position: px2rem(-49) px2rem(-114);
    }
    .icon3 {
      background-position: px2rem(-107) px2rem(-114);
    }
    .icon4 {
      background-position: px2rem(-161) px2rem(-114);
    }
    .icon0 {
      background-position: px2rem(-205) px2rem(-114);
    }
   }
  .nav-list:hover {
    color: $colorBolder;
    .icon1 {
      background-position: 0 px2rem(-114);
    }
    .icon2 {
      background-position: px2rem(-49) px2rem(-114);
    }
    .icon3 {
      background-position: px2rem(-107) px2rem(-114);
    }
    .icon4 {
      background-position: px2rem(-161) px2rem(-114);
    }
    .icon0 {
      background-position: px2rem(-205) px2rem(-114);
    }
  }
}
//图片显示单选效果
.selected {
  width:px2rem(37);
  height:px2rem(37);
  background: url(../img/images.png) no-repeat px2rem(-697) 0;
  background-size: px2rem(778) px2rem(683) ;
  margin-top: px2rem(46);
  margin-left: px2rem(20);
};
//取消单选就加上下面这个类
.selected1 {
  background: url(../img/images.png) no-repeat px2rem(-646) 0;
  background-size: px2rem(778) px2rem(683);
};

// 间距
.mt10{  margin-top:px2rem(10);}
.mt20{  margin-top:px2rem(20);}
.mt50{  margin-top:px2rem(50);}
.mb10{  margin-bottom:px2rem(10);}
.mb0{  margin-bottom:px2rem(20);}
.mb50{  margin-bottom:px2rem(50);}

//line-height
.lh-48 { line-height: px2rem(48)};

//字体大小
.font-20{font-size: px2rem(20)}
.font-24{font-size: px2rem(24)}
.font-28{font-size: px2rem(28)}
.font-30{font-size: px2rem(30)}
.font-32{font-size: px2rem(32)}
.font-36{font-size: px2rem(36)}
.font-60{font-size: px2rem(60)}

//字体颜色
.c-000{ color: #000000!important;}
.c-333{ color: #333333!important;}
.c-666{ color: #666666!important;}
.c-888{ color: #888888!important;}
.c-red{ color: #dd1f1f!important;}
.c-fff{ color: #ffffff!important;}
.c-aaa{ color: #aaaaaa!important;}
.c-396{ color: #339966!important;}

//背景颜色
.bgc-f5f5f5 { background-color: #f5f5f5}
.bgc-fff { background-color: #ffffff}

//position
.position-rel {position: relative;}
.position-abs {position: absolute;}

//对齐
.tleft{ text-align: left; };
.tcenter {text-align: center};
.tright{ text-align: right;};

//底部操作区
.operation {
  position: fixed;
  bottom: 0px;
  height: px2rem(100);
  border-top:px2rem(1) solid #ddd;
  width: px2rem(640);
  background-color: #ffffff;
}
//  数量加减输入组件
.countBox{
      button{
        @include btn(58,58,#eeeeee,#000000,24,0);
        border: px2rem(1) solid #aaa;
      };
      input{
      line-height:px2rem(58);
      border: 0; border-top: px2rem(1) solid #aaa;
      border-bottom: px2rem(1) solid #aaa;
      font-size: px2rem(24);
      width: px2rem(100);
      text-align: center;
      height: px2rem(58);
     }
    };
//  规格遮罩
.spec-mask{
  width:100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
  background:#000;
  opacity: 0.2;
  z-index: 10;
}
//  规格选择弹框
.select-spec {
  position: fixed;
  padding: px2rem(15);
  width: px2rem(610);
  z-index: 11;
  bottom: 0;
  background: #fff;
  border-radius: px2rem(6) px2rem(6)  0 0;
  .good{
    @include grid();
    height: px2rem(84);
    padding-bottom: px2rem(28);
    border-bottom: px2rem(1) solid $borderColor;
    .good-img{
      flex: 0 0 px2rem(110);
      img{
        width: px2rem(84);
        height: 100%;
      }
    }
    .good-info{
      font-size: px2rem(28);
      .name{
        margin-top: px2rem(8);
        color: $titleColor;
      }
      .attrlist{
       margin-top: px2rem(20);
       color: $subTitleColor;
      }
    }
    .close-select{
      flex: 0 0 px2rem(40);
      margin-top: 0;
      height:px2rem(40);
      cursor:pointer;
      background: url(../img/images.png) no-repeat px2rem(-683) px2rem(-121);
      background-size: px2rem(778) px2rem(683);
    }
  }
  .spec{
    font-size: px2rem(24);
    li{
      padding: px2rem(20);
    }
    p{
      color: $colorLintBlock;
      font-size: px2rem(28);
    }
    .spec-list{
      margin-top: px2rem(20);
      button{
        display:  inline-block;
        cursor: pointer;
        margin-right: px2rem(10);
        margin-top:px2rem(20);
        @include btn(100,48,#eee,$colordarkBlock,24,35)
      }
      button.active{
        @include btn(100,48,$subTitleColor,#fff,24,35)
      }
      button.disabled{
        @include btn(100,48,#eee,#fff,24,35);
        cursor:not-allowed
      }
    }
  }
  .spec-count{
    .name{
      margin-right: px2rem(20);
      margin-top: px2rem(10);
    }
    .tip{
      margin-left: px2rem(20);
       margin-top: px2rem(10);
    }
    padding: px2rem(20);
    color: $colorLintGray;
    font-size: px2rem(24);
  }
  .confirm-spec{
    @include btn(640,96,$subTitleColor,#fff,24,0)
  }
  .disabled-spec{
    @include btn(640,96,$colorLintGray,#fff,24,0)
  }
}
//分隔
.splitter{
  background-color: #f5f5f5;
  height: px2rem(20);
}
//border
.border{ border: px2rem(1) solid #dddddd;}
.border-top {border-top: px2rem(1) solid #dddddd;}
.border-bottom {border-bottom: px2rem(1) solid #dddddd;}
.border-left {border-left: px2rem(1) solid #dddddd;}
.border-right {border-right: px2rem(1) solid #dddddd;}
// 时间样式修改
.timeModal{
  .modal-content{
    width: px2rem(600);
  }
  .time-header{
   padding:0 px2rem(20) px2rem(20);
   border-bottom: px2rem(2) solid $borderColor;
   text-align: left;
  }
  .time-body{
    @include grid();
    padding: px2rem(30) 0 px2rem(60);
    .grid-cell{
      .title{
        color: $subTitleColor,
      }
      .content{
        height: px2rem(275);
        overflow-y: scroll;
        li{
          padding: px2rem(18) 0;
        }
        li:hover{
          background: #eee;
        }
        li.active{
          background: #eee;
        }
      }
    }
    
  }
}
// 弹框样式修改
.modal-mask {
    position: fixed;
    display: table;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    cursor:pointer;
  }
  .modal-dialog {
    display: table-cell;
    vertical-align: middle;
  }
  .text-center{
    text-align: center;
  }
  .modal-content {
    width: px2rem(400);
    position: relative;
    padding: px2rem(15) 0;
    margin: 0 auto;
    font-size: px2rem(24);
    background-color: #fff;
    border-radius: px2rem(10);
    text-align: center;
    cursor: pointer;
    .modal-close {
      position: absolute;
      right: px2rem(10);
      top: px2rem(10);
      width: px2rem(40);
      height: px2rem(40);
      background: url(../img/images.png) no-repeat px2rem(-683) px2rem(-121);
      background-size: px2rem(778) px2rem(683);
      cursor: pointer;
    }
    .modal-test{
        font-size: px2rem(24);
        margin-top: px2rem(10);
      }
  }
  //  错误提示
  .modal-error-tip{
      width: px2rem(200);
      margin: 0 auto;
      .modal-img{
        width: 100%;
        height: px2rem(120);
        img{
          width: px2rem(120);
          height: px2rem(120);
        }
      }
    }

