@import 'style.scss';
.member-center {
  font-family: microsoft yahei;
  .theTop {
    height: px2rem(317);
    background: url(../img/grzx_bj.png) no-repeat #000000;
    background-size: cover;
    position: relative;
    .logined {
      color: #fff;
      font-size: px2rem(24);
      line-height: px2rem(48);
      .logined-header-text {
        height: px2rem(60);
        line-height: px2rem(60);
      }
      .logined-header {
        padding: px2rem(68) px2rem(50) px2rem(52);
      }
      .btn {
        @include btn(140, 60, rgba(255,255, 255, 0.4), #ccc, 24, 10);
      }
      ;
      .logined-content {
        padding: 0 px2rem(50) px2rem(30);
        background: rgba(255,255, 255, 0.2);
        color: #fff;
        height: px2rem(120);
        cursor: pointer;
        .content-list {
          display: inline-block;
          width: 32%;
          p{
            text-align: center;
            margin-top: px2rem(18);
          }
        }
      }
    }
  }
  ;
  .theNav {
    .navBox {
      float: left;
      width: 25%;
      text-align: center;
      margin: px2rem(25) 0;
      .nav-img {
        width: px2rem(72);
        height: px2rem(72);
        margin: 0 auto;
        background-size: cover!important;
      }
      ;
      .img1 {
        background: url(../img/wait_pay.png) center no-repeat;
      }
      ;
      .img2 {
        background: url(../img/wait_fahuo.png) center no-repeat;
      }
      ;
      .img3 {
        background: url(../img/wait_sh.png) center no-repeat;
      }
      ;
      .img4 {
        background: url(../img/wait_pingjia.png) center no-repeat;
      }
      ;
      .nav-name {
        height: px2rem(48);
        line-height: px2rem(48);
        text-align: center;
        font-size: px2rem(20);
        color: #666666;
      }
      ;
    }
    ;
  }
  ;
  .splitter {
    background-color: #F5F5F5;
    height: px2rem(20);
  }
  ;
  a .listBox {
    color: #000;
  }
  ;
  .listBox {
    height: px2rem(80);
    background: url(../img/icon_more2.png) no-repeat px2rem(599) px2rem(25);
    border-bottom: px2rem(1) #ddd solid;
    font-size: px2rem(24);
    line-height: px2rem(80);
    padding-left: px2rem(20);
    span {
      display: inline-block;
      width: px2rem(32);
      height: px2rem(32);
      background: url(../img/images.png) px2rem(-416) px2rem(-64);
      background-size: px2rem(778) px2rem(683);
      margin-right: px2rem(20);
      position: relative;
      top: px2rem(5);
    }
    ;
    i.order-text {
      margin-left: px2rem(260);
      color: #999
    }
    span.detail {
      background-position: px2rem(-469) px2rem(-64);
    }
    span.exchanges {
      background-position: px2rem(-519) px2rem(-64);
    }
    span.evaluate {
      background-position: px2rem(-569) px2rem(-64);
    }
    span.addressed {
      background-position: px2rem(-619) px2rem(-64);
    }
    span.about {
      background: url(../img/icon_common_hey.png) no-repeat;
      background-size: cover;
    }
  }
  ;
  .loginout {
    button {
      display: block;
      width: px2rem(398);
      height: px2rem(80);
      margin: px2rem(37) auto 0;
      background-color: #dcdcdc;
      border: none;
      border-radius: px2rem(20);
      font-size: px2rem(36);
      color: #999;
    }
  }
  .goto-index{
    margin-top: px2rem(20);
    text-align: center;
    font-size: px2rem(24);
    color: #57a0e4;
    cursor: pointer;
  }
  ;
  .find-help {
    font-size: px2rem(24);
    text-align: center;
    color: #818181;
    margin-top: px2rem(50);
  }
}
